In [11]:
import requests
import pandas as pd
import re
from string import ascii_lowercase

In [12]:
# ConexiÃ³n del API con el programa
response = requests.get("https://data.minorplanetcenter.net/api/get-obs", json={"desigs": ["C/2023 A3"], "output_format": ["OBS80"]})

if response.ok:
    obs80_string = response.json()[0]['OBS80']
    print('âœ… Base de datos actualizada.')
else:
    print(f'ðŸ›‘ Se presentÃ³ un error al cargar la base de datos.\n\nError: {response.status_code}\n\n{response.content}')

âœ… Base de datos actualizada.

In [13]:
datos_crudos_lista = [dato.split() for dato in response.json()[0]['OBS80'].split('\n')]
datos_crudos_df = pd.DataFrame(datos_crudos_lista)
datos_crudos_df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,CK23A030,C2022,04,09.57799615,19,25.161+02,24,05.66,23.04GV#0DYuF52,None,None,None,None
1,CK23A030,C2022,04,09.58941415,19,24.896+02,24,07.37,23.27GV#0DYuF52,None,None,None,None
2,CK23A030,KC2022,04,23.56779215,13,42.559+02,56,32.85,22.97GV#0DYuF52,None,None,None,None
3,CK23A030,C2022,05,26.43948114,58,30.116+03,49,27.83,22.65GV#0DYuF52,None,None,None,None
4,CK23A030,C2022,05,26.45109814,58,29.786+03,49,28.36,22.29GV#0DYuF52,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234,CK23A030,1C2024,08,01.36221,10,55,27.422+00,31,11.24,11.5,GVEP125E62,None,None
5235,CK23A030,KC2024,08,02.72882,10,54,53.30,+00,22,50.1,11.6,GXEP125194,None
5236,CK23A030,KC2024,08,02.73076,10,54,53.25,+00,22,49.3,11.6,GXEP125194,None
5237,CK23A030,KC2024,08,02.73218,10,54,53.23,+00,22,48.9,11.4,GXEP125194,None
5238,None,None,None,None,None,None,None,None,None,None,None,None,None

In [14]:
datos_crudos_df.columns = [letra for letra in ascii_lowercase][0:len(datos_crudos_df.columns)]
datos_crudos_df

,a,b,c,d,e,f,g,h,i,j,k,l,m
0,CK23A030,C2022,04,09.57799615,19,25.161+02,24,05.66,23.04GV#0DYuF52,None,None,None,None
1,CK23A030,C2022,04,09.58941415,19,24.896+02,24,07.37,23.27GV#0DYuF52,None,None,None,None
2,CK23A030,KC2022,04,23.56779215,13,42.559+02,56,32.85,22.97GV#0DYuF52,None,None,None,None
3,CK23A030,C2022,05,26.43948114,58,30.116+03,49,27.83,22.65GV#0DYuF52,None,None,None,None
4,CK23A030,C2022,05,26.45109814,58,29.786+03,49,28.36,22.29GV#0DYuF52,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234,CK23A030,1C2024,08,01.36221,10,55,27.422+00,31,11.24,11.5,GVEP125E62,None,None
5235,CK23A030,KC2024,08,02.72882,10,54,53.30,+00,22,50.1,11.6,GXEP125194,None
5236,CK23A030,KC2024,08,02.73076,10,54,53.25,+00,22,49.3,11.6,GXEP125194,None
5237,CK23A030,KC2024,08,02.73218,10,54,53.23,+00,22,48.9,11.4,GXEP125194,None
5238,None,None,None,None,None,None,None,None,None,None,None,None,None

In [15]:
datos_limpios_df = datos_crudos_df 
datos_limpios_df.i = datos_crudos_df.i.apply(lambda cadena: re.findall(r'\d+\.\d+|\d+', cadena)[0] if cadena != None else None)
datos_limpios_df.sample(10)

,a,b,c,d,e,f,g,h,i,j,k,l,m
4310,CK23A030,C2024,05,25.99093,12,16,12.895+02,10,14.77,13.0,GV#0GhyZ10,None,None
4324,CK23A030,C2024,05,26.84322612,14,12.617+02,14,22.99,11.94,None,None,None,None
3351,CK23A030,KC2024,04,19.91301,13,52,11.503-02,29,35.16,11.3,VZ#0G7jM06,None,None
1126,CK23A030,HC2023,05,16.60933,14,39,55.18,+02,50,14.8,16.7,GX#0DsIQ62,None
4625,CK23A030,KC2024,06,06.85991,11,50,48.914+02,51,35.35,11.9,VZ#0Gi1620,None,None
3431,CK23A030,KC2024,04,25.94280,13,36,33.492-01,35,43.01,12.4,GV#0G7jI81,None,None
550,CK23A030,C2023,04,01.61589815,10,21.459+00,33,43.25,17.62,None,None,None,None
1017,CK23A030,C2023,05,09.94490214,44,54.206+02,35,02.36,16.64,None,None,None,None
4535,CK23A030,C2024,06,03.50483,11,57,25.28,+02,43,09.5,V#0Gi0P87,None,None
4254,CK23A030,9C2024,05,24.87953,12,18,52.457+02,04,44.69,13.0,GV#0GhyG40,None,None

In [16]:
datos_limpios_df = datos_limpios_df.drop(columns=['m'])
datos_limpios_df.sample(10)

,a,b,c,d,e,f,g,h,i,j,k,l
653,CK23A030,C2023,04,14.04253,15,03,09.78,+01,16,30.3,17.2,GV#0DsEC23
699,CK23A030,aC2023,04,17.59183,15,00,52.39,+01,28,31.3,V#0DsEQ62,None
2810,CK23A030,C2024,03,18.77425,14,51,21.05,-06,15,30.6,13.3,Vq#0FzB323
2528,CK23A030,C2024,02,21.08009915,09,19.272-07,39,19.12,13.84,None,None,None
4845,CK23A030,1C2024,06,20.18702511,29,05.399+03,01,31.48,10.45,None,None,None
4161,CK23A030,KC2024,05,19.83397,12,31,26.78,+01,36,14.8,13.0,GX#0GhxG02
2395,CK23A030,C2024,02,07.23293,15,11,00.77,-07,53,02.5,13.6,GV#0Fz8Z21
2222,CK23A030,C2023,12,22.23573,14,56,38.491-06,56,56.58,14.6,GV,Z10
511,CK23A030,KC2023,03,29.71366,15,11,49.94,+00,23,44.8,q#0DYy903,None
3631,CK23A030,C2024,05,01.97985,13,20,05.983-00,41,42.47,12.8,GV#0G7lZ10,None

In [17]:
datos_crudos_df

,a,b,c,d,e,f,g,h,i,j,k,l,m
0,CK23A030,C2022,04,09.57799615,19,25.161+02,24,05.66,23.04,None,None,None,None
1,CK23A030,C2022,04,09.58941415,19,24.896+02,24,07.37,23.27,None,None,None,None
2,CK23A030,KC2022,04,23.56779215,13,42.559+02,56,32.85,22.97,None,None,None,None
3,CK23A030,C2022,05,26.43948114,58,30.116+03,49,27.83,22.65,None,None,None,None
4,CK23A030,C2022,05,26.45109814,58,29.786+03,49,28.36,22.29,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234,CK23A030,1C2024,08,01.36221,10,55,27.422+00,31,11.24,11.5,GVEP125E62,None,None
5235,CK23A030,KC2024,08,02.72882,10,54,53.30,+00,22,50.1,11.6,GXEP125194,None
5236,CK23A030,KC2024,08,02.73076,10,54,53.25,+00,22,49.3,11.6,GXEP125194,None
5237,CK23A030,KC2024,08,02.73218,10,54,53.23,+00,22,48.9,11.4,GXEP125194,None
5238,None,None,None,None,None,None,None,None,None,None,None,None,None